/*左侧图片*/
.layui-layer-photos .layui-layer-content,.layui-layer-page .layui-layer-content{overflow: inherit !important;}
.layui-layer-imguide, .layui-layer-imgbar{display: block;}
.layui-layer-content{width: 800px;}
.layui-layer-phimg{height: 100%;height: 100%}
.layui-layer-photos .layui-layer-phimg img{height: 100%;}
.layui-layer-imgbar{height: 60px !important;line-height: 60px !important}

/*左右切换箭头*/
.layui-layer-iconext {
    background: url(img1.png) no-repeat;
}
.layui-layer-imgprev, .layui-layer-imgnext {
    position: absolute;
    top: 50%;
    width: 49px;
    _width: 49px;
    height: 87px;
    margin-top: -43px;
}
.layui-layer-imgprev{background-position:0 -168px;}
.layui-layer-imgprev:hover {background-position:-50px -168px;}
.layui-layer-imgnext{ background-position:0 -258px; _background-position: 0 -258px;}
.layui-layer-imgnext:hover{background-position:-51px -258px;}

/*右侧内容*/
.icon-img{background:url(img1.png)  no-repeat;display: inline-block;}
.icon-p-close{position: absolute;right: 10px;top:10px;height:13px;width:13px;cursor: pointer;background-position: -70px -40px;}
.icon-yuy{height:13px;width:13px;background-position:-74px 0;margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;}
.icon-zx{height:12px;width:14px;background-position:-49px 0;margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;}
.btn-main{background:#32b4eb;color: #fff;transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;}
.btn-main:hover{background: #11a3e1;color: #fff;}

#layer-photo-right{display: none;}
.right-photo-info{
    position: relative;
    padding: 0 20px 20px;
    float: left;
    margin-top: -600px;
    margin-left: 800px;
    width: 250px;
    height: 600px;
    background: #fff;
    box-sizing: border-box;
  }
  .avatar-img{display:inline-block; width: 50px;height: 50px;border-radius: 50%;float: left;}
  .photo-inner{margin-top: 35px;}
  .right-photo{float: left;margin-left: 10px;}
  .right-photo .name{font-size: 18px;color:#333;line-height: 30px;}
  .right-photo .position: {font-size: 14px;color:#999;}
  .btn-photo-zx{display: inline-block;  float: left;width: 99px;height: 34px;line-height: 34px;text-align: center;margin-left: 12px;font-size: 14px;border-radius: 4px;}
  .btn-photo-zx:first-child{margin-left: 0;}
  .right-photo-info .btn-box{margin-top: 17px;}
  .bottom-tel{position:absolute;bottom:20px;width:210px;height:40px;line-height:40px;border:1px solid #fe5939; color: #fe5939;font-size:20px;text-align: center;border-radius: 4px;}
