.layer-ext-myskin{width:531px;height:507px;background: transparent url(../../../../../../../img/laybg.png) no-repeat center;box-shadow:none;}
.layer-ext-myskin .info{width: 308px;margin: 0 auto;margin-top: 253px;text-align: center;font-size: 16px;color: #999;padding: 0 20px}
.layer-ext-myskin1{background: none; box-shadow: none;}
.layer-ext-myskin1 .layui-layer-setwin .layui-layer-close2{width: 22px; height: 22px; background: url(../../../../../../../img/icon_close.png) no-repeat left center; position: absolute; right: 19px; top: 9px; cursor: pointer;}
